.content {
	margin: 6px 0;
    padding: 0 9px 6px 30px;
    left: 300px;
	width: calc(100vw - 350px);
    height: calc(100vh - 18px);
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}