.sidebar {
    width: 300px;
    height: 100vh;
    transition: background-color 200ms linear;
    left: 0;
    float: left;
}

.sidebar.bing{
    background-color: #2785FF;
}

.sidebar.reddit{
    background-color: #E83F00;
}

.sidebar .logo{
    max-width: 250px;
    margin-left: 25px;
    margin-top: 20px;
    position: relative;
}